
@mixin border-1px($color){
  border: 1px solid $color;
}
@mixin bg($url){
  background: url($url + '@2x.png');
  background-size: cover;
  @media (min-device-pixel-ratio: 3),(-webkit-min-device-pixel-ratio: 3){
    background: url($url + '@3x.png');
    background-size: cover;
  }
}
body{
    line-height: 1;
    font-weight: 200;
    font-family: 'PingFang SC',''Segoe UI', Tahoma, Geneva, Verdana, serif';  
}
.scale-enter,.scale-leave-to{
  opacity: 0;
  transform: translate(-300px);
}
.scale-enter-active,.scale-leave-active{
  transition: all .4s;
}